.containerPai{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.containerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    gap: 2rem;
}

.containerFormulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.caixaInput{
    display: flex;
    flex-direction: column;
}

.input{
    margin-top: 4px;
    padding: 8px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid  #686464
}

.erro{
    font-weight: bold;
    margin: 8px;
}

.button{
    background-color: #51c804;
    font-family: "Comfortaa", sans-serif;
    padding: 8px;
    border-radius: 8px;
    border: none;
}